<script type='text/javascript'>
$(function() {
Dashing.gridsterLayout('[{"col":1,"row":1,"size_x":1,"size_y":1},{"col":2,"row":1,"size_x":1,"size_y":1},{"col":3,"row":1,"size_x":1,"size_y":1},{"col":4,"row":1,"size_x":1,"size_y":1},{"col":1,"row":2,"size_x":1,"size_y":1},{"col":2,"row":2,"size_x":1,"size_y":1}]')
});
</script>

<% content_for(:title) { "Jenkins Status" } %>
<div class="gridster">
  <ul>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="ANDROID" data-view="JenkinsBuild" data-title="ANDROID Build" data-min="0" data-max="100"></div>
    </li>

    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="CM" data-view="JenkinsBuild" data-title="CM Build all" data-min="0" data-max="100"></div>
    </li>

    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="CM_CYCLE" data-view="JenkinsBuild" data-title="CM Cycle" data-min="0" data-max="100"></div>
    </li>

    <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="REC_DEP" data-view="JenkinsBuild" data-title="Recovery Depricated" data-min="0" data-max="100"></div>
    </li>

    <li data-row="3" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="SUBM_TEST" data-view="JenkinsBuild" data-title="Submission test" data-min="0" data-max="100"></div>
    </li>

    <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="SUBM_TEST" data-view="JenkinsRelease" data-title="Cut the release" data-min="0" data-max="100"></div>
    </li>


  </ul>
</div>
